/**
 * Author: Miroslav S. Martynov
 * Date: 19.12.12
 * Time: 12:14
 * In collaboration with all the staff at http://thesmena.com/
**/
@import url(http://fonts.googleapis.com/css?family=Yeseva+One&subset=latin,cyrillic);

body
{
    background: #4e759f url("../i/bg-01.jpg") no-repeat 50% 0;
    font: 14px/18px "Times New Roman", serif;
    height: 3210px;
    margin: 0;
    max-height: 3220px;
    padding: 0;
    position: relative;
}

.b-heading_one,
.b-heading_two,
.b-heading_three,
.b-heading_four,
.b-heading_five,
.b-heading_six
{
    font-family: "Yeseva One", cursive;
    font-weight: 400;
    text-align: center;
    text-shadow: 0 -1px 0 #eee;
    color: #112439;
}

.b-heading_one
{
    font-size: 36px;
    line-height: 52px;
    margin: 40px auto 20px;
    position: relative;
}

.b-heading_two
{
    font-size: 32px;
    line-height: 46px;
    margin: 30px auto 20px;
}
.b-heading_three
{
    font-size: 28px;
    line-height: 38px;
    margin: 26px auto 18px;
}
.b-heading_four
{
    font-size: 22px;
    line-height: 30px;
    margin: 20px auto 14px;
}
.b-heading_five
{
    font-size: 18px;
    line-height: 26px;
    margin: 18px auto 12px;
}

.b-top-menu
{
    margin: 10px auto 60px;
    text-align: center;
}
.b-top-menu__item
{
    display: inline;
    margin: 0 10px;
}
.b-top-menu__item > .b-link_dotted:hover
{
    text-decoration: none;
}
.b-top-menu__item > .b-link_dotted
{
    color: #fff;
    border-bottom: 1px dotted rgba(255,255,255,0.5);
    text-decoration: none;
}

.i-wrap:after {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    right: -4px;
    bottom: 0;
    background: #e9e0d7;

    -webkit-box-shadow: 0 1px 1px;
    box-shadow: 0 1px 1px;

    -webkit-transform: rotate(-0.5deg);
    -moz-transform: rotate(-0.5deg);
    -o-transform: rotate(-0.5deg);
    -ms-transform: rotate(-0.5deg);
    transform: rotate(-0.5deg);
    z-index: -1;
}


.i-wrap
{
    margin: 0 auto;
    width: 1000px;
    background: #f4ede6;
    box-shadow: 0 1px 1px rgba(14, 62, 115, 0.75);
    position: relative;
    padding-top: 10px;
    padding-bottom: 30px;
}

.b-about
{
    position: relative;
    padding: 40px 20px;
}

.b-about__info
{
    position: relative;
    width: 716px;
    float: left;
}

.canvas
{
    position: relative;
    width: 500px;
    height: 350px;
    margin: 0 auto;
}

.canvas > canvas
{
    /*width: 150px;*/
    /*height: 150px;*/
}

.b-about__photo-wrap:before
{
    content: '';
    width: 50px;
    height: 50px;
    border: 1px solid rgba(0,0,0,0.15);
    border-right: none;
    border-bottom: none;
    position: absolute;
    left: -8px;
    top: -8px;
}
.b-about__photo-wrap:after
{
    content: '';
    width: 50px;
    height: 50px;
    border: 1px solid rgba(0,0,0,0.15);
    border-left: none;
    border-top: none;
    position: absolute;
    right: -8px;
    bottom: -8px;
}

.b-about__photo-wrap
{
    position: relative;
    overflow: visible;
    width: 175px;
    height: 200px;
    margin: 0 auto;
    float: left;
}

.b-stamp .b-text {

    font-size: 11px;
    color: rgba(0, 74, 158, 0.75);
    display: block;
    text-align: center;
    text-shadow: 0 2px 0px rgba(0, 74, 158, 0.75), 1px 0 1px rgba(0, 74, 158, 0.75), -1px 1px 0 rgba(0, 74, 158, 0.75);
}

.b-stamp .b-big {
    font-size: 21px;
    color: rgba(184, 44, 5, 0.5);
    display: block;
    text-align: center;
    margin-top: 35px;
    text-shadow: 0 2px 0px rgba(184, 44, 5, 0.5), 1px 0 1px rgba(184, 44, 5, 0.5), -1px 1px 0 rgba(184, 44, 5, 0.5);
    border-bottom: 1px solid;
    border-top: 9px double;
    padding-bottom: 7px;
    padding-top: 4px;
    text-transform: uppercase;
    border-left: 2px solid;
    border-right: 2px solid;
    letter-spacing: 0.05em;
    margin-left: auto;
    margin-right: auto;
    width: 120px;
}

.b-stamp {
    position: absolute;
    left: -46px;
    bottom: -55px;
    width: 130px;
    height: 130px;
    border-radius: 80px;
    border: 2px solid rgba(0,74,158,0.75);


    -webkit-box-shadow: 0 1px 1px rgba(0, 74, 158, 0.5), -3px 1px 1px rgba(0, 74, 158, 0.8), inset -3px 1px 1px rgba(0, 74, 158, 0.8);
    box-shadow: 0 1px 1px rgba(0, 74, 158, 0.5), -3px 1px 1px rgba(0, 74, 158, 0.8), inset -3px 1px 1px rgba(0, 74, 158, 0.8);

    -webkit-transform: rotate(8deg);
    -moz-transform: rotate(8deg);
    -o-transform: rotate(8deg);
    -ms-transform: rotate(8deg);
    transform: rotate(8deg);
}

.b-about__photo
{
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    overflow: hidden;
    margin: 0 auto;
    border: 1px solid #dedede;

    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.35);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.35);

    -webkit-transform: rotate(-1deg);
    -moz-transform: rotate(-1deg);
    -o-transform: rotate(-1deg);
    -ms-transform: rotate(-1deg);
    transform: rotate(-1deg);
}

.b-about__photo:after {
    content: "";
    width: 150px;
    height: 150px;
    background: #fff;
    position: absolute;
    left: -70px;
    bottom: -80px;
    border-radius: 100px;
    display: block;
}

.b-about__photo > .b-photo
{
    position: relative;
    margin-left: -15px;
    /*width: 175px;*/
    max-width: 200px;
}

.b-quest
{
    position: relative;
    padding-left: 25px;
    margin-top: 40px;
    width: inherit;
}

.b-quest__title:after
{
    content: '';
    display: block;
    position: absolute;

    border-bottom: 1px dotted #888;
}
.b-quest__title
{
    position: relative;
    font-size: 16px;
    color: #999;
    display: inline-block;
    width: 30%;
}

.b-quest__answer
{
    position: relative;
    font-size: 22px;
    line-height: 24px;
    border-bottom: 1px dotted rgba(0, 0, 0, 0.1);
    display: inline-block;
    margin: 10px 0 20px;
    padding-left: 5%;
    width: 60%;
}

.b-collapse
{
    position: relative;
    padding: 30px 20px 10px;
}
.b-collapse .b-quest__answer
{
    display: block;
    width: auto;
    line-height: 24px;
    font-size: 16px;
}
.b-collapse .b-quest__title
{
    display: block;
    width: 100%;

}


.b-evolution .b-heading_three
{
    color: #fff;
    text-shadow: 0 0 3px rgba(0,0,0,0.33);
}
.b-evolution
{
    position: relative;
    width: 1000px;
    margin: 40px auto;
}

.b-evolution__steps
{
    position: relative;
    padding: 0 20px;
}

.b-evolution__steps .b-list
{
    margin: 10px auto 30px;
    padding: 0;
    list-style: none;
    text-align: center;
}

.b-evolution__steps .b-list__item
{
    display: inline-block;
}

.b-evolution__steps .active .b-link
{
    border-color: #fff;
}
.b-evolution__steps .b-link > img
{
    border-radius: 46px;
}
.b-evolution__steps .b-link
{
    display: block;
    width: 82px;
    height: 82px;
    background: #207598;
    border: 3px solid transparent;
    border-radius: 46px;
    /*text-indent: -99999px;*/
    margin: 0 10px;
}

.b-evolution .b-description
{
    position: relative;
    margin: 30px auto;
    display: table;
    height: 190px;
}

.i-semicolon
{
    position: relative;
}
.i-semicolon:after
{
    content: "{";
    font: 180px/0 "Times New Roman", sans-serif;
    position: absolute;
    width: 10px;
    height: 10px;
    right: 0;
    top: -3px;
    color: rgba(255, 255, 255, 0.2);
    text-shadow: none;
}
.b-description .b-heading_four
{
    color: #fff;
    display: table-cell;
    position: relative;
    width: 200px;
    margin-right: 50px;
    padding-right: 70px;
    vertical-align: middle;
    text-shadow: 0 0 2px rgba(0,0,0,0.33);
}

.b-description__item.active
{
    display: table-cell;
}
.b-description__item .b-text
{
    margin: 9px 0;
    text-indent: 36px;
}
.b-description__item
{
    display: none;
    width: 620px;
    color: #fff;
    font-size: 13px;
    line-height: 18px;
    vertical-align: middle;
}

.i-level-wrap
{
    text-align: center;
}

.b-level .i-canvas
{
    position: relative;
    /*width: 400px;*/
    /*height: 400px;*/
    z-index: 1;
}
.b-level
{
    position: relative;
    width: 300px;
    height: 170px;
    display: inline-block;
    margin-bottom: 60px;
    padding-top: 40px;
}

.b-level__up .b-heading_five
{
    color: #fff;
    text-shadow: none;
}
.b-level .b-level__up
{
    position: absolute;
    top: 0;
    display: block;
    width: 100%;
    text-align: center;
}
.b-level .b-level__down
{
    position: absolute;
    bottom: 0;
    left: 0;
    display: block;
    text-align: center;
    width: 100%;
}
.i-dropdown .b-link_dotted:hover
{
    border-bottom-color: transparent;
}
.i-dropdown .b-link_dotted
{
    display: inline;
    border-bottom: 1px dotted rgba(255,255,255,0.5);
}
.b-level .i-dropdown
{
    color: #fff;
    font-size: 14px;
    text-decoration: none;
    position: relative;
    z-index: 10;
    padding-bottom: 10px;
}
.b-level .i-dropdown:hover > .b-dropdown
{
    display: block;
}
.b-level .b-dropdown .b-list
{
    list-style: none;
    padding: 10px;
    margin: 0;
}
.b-level .b-dropdown:before
{
    content: "";
    border: 15px solid transparent;
    border-bottom-color: #fff;
    position: absolute;
    top: -20px;
    left: 45%;
}
.b-level .b-dropdown
{
    position: absolute;
    display: none;
    text-align: left;
    background: #fff;
    width: 300px;
    border-radius: 6px;
    top: 25px;
    left: -100px;
}

.i-projects .b-list__item.active > a
{
    color: #002a80;
    display: inline;
}
.i-projects .b-list__item > a:hover
{
    border-bottom-color: transparent;
}
.i-projects .b-list__item
{
    margin-bottom: 4px;
}
.i-projects .b-list__item > a
{
    display: none;
    color: #777;
    text-decoration: none;
    border-bottom: 1px solid rgba(100,100,100,0.5);
}


.i-links
{
    position: relative;
    width: 1000px;
    margin: 0 auto;
}

.i-links .b-heading_three
{
    color: #fff;
    text-shadow: none;
}

.i-links .b-list .b-link_blank:hover::after
{
    content: "_blank";
    position: absolute;
    right: -50px;
    bottom: -3px;
}
.i-links .b-list .b-link_blank:hover
{
    border-bottom-color: #fff;
}
.i-links .b-list .b-link_blank
{
    position: relative;
    color: #dadefd;
    text-decoration: none;
    border-bottom: 1px solid rgba(255,255,255,0.33);
}
.i-links .b-list__item
{
    margin-bottom: 10px;
}
.i-links .b-list
{
    text-align: center;
    list-style: none;
}


.i-footer
{
    position: absolute;
    width: 100%;
    /*margin: 0 auto;*/
    text-align: center;
    left: 0;
    right: 0;
    bottom: 10px;

}
.b-level .i-iefix
{
    font: 45px "Yesev One", cursive;
    color: #fff;
    text-align: center;
    position: absolute;
    top: 95px;
    left: 0;
    width: 100%;
    z-index: 10;
}